:root {
    --white-color: #F5F5F5;
    --black-color: #181818;
    --grey-color: #8A8A8A;
    /* --light-grey-color: #D9D9D9; */
    /* --pink-color: #FF6565; */
    --off-white-color: #E9E9E9;
    --light-green-color: #e3fff2;
    --dark-green-color: #224f3b;
    --green-color: #4e7262;
}

body {
    margin: 0;
    padding: 0 6vw 0;
    background-color: var(--white-color);
    color: var(--black-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

body a {
    color: var(--black-color);
    text-decoration: none;
}

/* buttons */

.button {
    border: 2px solid var(--dark-green-color);
    border-radius: 40px;
    background-color: var(--dark-green-color);
    padding: 5px 15px;
    font-family: inherit;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
}

.button:hover {
    background-color: white;
    color: var(--dark-green-color);
}

.button.negative {
    background-color: white;
    color: var(--dark-green-color);
}

.button.negative:hover {
    background-color: var(--dark-green-color);
    color: white;
}

/* like */

.like_outer {
    font-size: 18px;
    color: var(--dark-green-color);
}

.like_outer:hover {
    color: var(--green-color);
}

.like_outer.inactive {
    color: var(--grey-color);
}

/* .like_container .like_outer:nth-child(1) {
    margin-right: 5px;
} */

