:root {
    --white-color: #F5F5F5;
    --black-color: #181818;
    --grey-color: #8A8A8A;
    --off-white-color: #E9E9E9;
    --light-green-color: #e3fff2;
    --dark-green-color: #224f3b;
    --green-color: #4e7262;
    --maroon-color: #800000;
}

