@import './_vars.css';

@import './elements/user_icon.css';
@import './elements/tooltip.css';
@import './elements/page_index.css';
@import './elements/post_card.css';
@import './elements/filters.css';
@import './elements/category_item.css';

@import './header.css';
@import './main_page.css';

body {
    margin: 0;
    padding: 0 6vw 0;
    background-color: var(--white-color);
    color: var(--black-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

body a {
    color: var(--black-color);
    text-decoration: none;
}

/* buttons */

.button {
    border: 2px solid var(--dark-green-color);
    border-radius: 40px;
    background-color: var(--dark-green-color);
    padding: 5px 15px;
    font-family: inherit;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
}

.button:hover {
    background-color: white;
    color: var(--dark-green-color);
}

.button.negative {
    background-color: white;
    color: var(--dark-green-color);
}

.button.negative:hover {
    background-color: var(--dark-green-color);
    color: white;
}

/* like */

.like_outer {
    font-size: 18px;
    color: var(--dark-green-color);
}

.like_outer:hover {
    color: var(--green-color);
}

.like_outer.inactive {
    color: var(--grey-color);
}

/* h2 */

h2 {
    font-size: 34px;
}

