@import '../_vars.css';

.post_card {
    display: flex;
    padding-bottom: 10px;
    margin: 10px 0 20px;
    border-bottom: 0.05px solid var(--green-color);
}

.post_card .post_outer {
    width: 100%;
}

.post_card .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* extra_data */

.post_card .extra_data {
    position: relative;
    display: flex;
    align-items: end;
    font-size: 12px;
}

.post_card .delimiter {
    margin: 0 5px;
}

.post_card .button_container {
    display: flex;
    justify-content: space-between;
    min-width: 130px;
}

.post_card .button_container .count {
    position: relative;
    top: -3px;
    display: inline-block;
    min-width: 20px;
    text-align: end;
}

/* user_icon */

.post_card .user_icon_container {
    flex-direction: row;
    align-items: end;
}

.post_card .user_icon_container .user_icon_role_outer {
    margin-right: 3px;
}

.post_card .user_icon_container .user_icon_outer {
    width: 40px;
    height: 40px;
}

.post_card .title {
    font-size: 26px;
    color: var(--dark-green-color);
}

.post_card:hover .title {
    color: var(--green-color);
}

/* category */

.post_card .categories_container {
    margin: 3px -3px;
}

.post_card .category {
    display: inline-block;
    margin: 3px;
    padding: 3px 5px;
    border: 1px solid var(--dark-green-color);
    border-radius: 40px;
    background-color: var(--light-green-color);
    font-size: 10px;
    color: var(--dark-green-color);
}

.tooltip {
	display: inline;
	position: relative;
}

.post_card .content {
    white-space: pre-wrap;
    -webkit-line-clamp: 8; 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
}

