@import '../_vars.css';

.user_card_outer {
    position: relative;
    max-width: 300px;
    width: 300px;
    word-break: break-all;
    /* border: 1px solid red; */
}

.user_card_outer .delete {
    z-index: 1;
    position: absolute;
    left: 0;
}

.user_card {
    display: flex;
    /* border: 1px solid red; */
}

.user_card .user_icon_outer {
    width: 100px;
    height: 100px;
}

.user_card .info {
    padding-top: 23px;
    line-height: 20px;
    font-size: 14px;
}

.user_card .delimiter {
    margin: 0 5px;
}

.user_card .login {
    font-size: 16px;
    color: var(--dark-green-color);
}

/* .listing {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    margin: 50px 0;
} */

